#buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  font-size: 24px;
  padding: 12px 24px;
  margin: 0 10px;
  background-color: #cccccc;
  color: #000000;
  font-weight: bold;
  border-radius: 5px;
}
