#buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  font-size: 18px;
  padding: 10px;
  background-color: #cccccc;
  color: #000000;
  border: none;
  border-radius: 5px;
}
